body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

#back-to-top {
	display: none;
	cursor: pointer;
	color: black;
	text-decoration: none;
	background-color: #474125;
	width: 60px;
	height: 60px;
	padding: 0;
	position: fixed;
	bottom: 3vh;
	right: 3vw;
	z-index: 1000;
}

.navbar-brand img {
	width: 30px;
	height: 30px;
}

img {
	width: 100%;
}

#carousel-slider{
	margin: 0;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.carousel-item {
	filter: brightness(75%);
}

.carousel-item img {
	height: 50vw;
}

#carousel-prev, #carousel-next {
	position: unset;
	width: 4vw;
	height: 4vw;
	background-color: black;
	border-radius: 50%;
	margin: 0;
}

#plants {
	margin-top: 100px;
	margin-bottom: 100px;
}

#page-footer {
	background-color: #222;
}

#page-footer h5 {
	color: white;
}

#page-footer ul {
	padding-left: 0;
}

#page-footer li {
	color: #eee;
	display: flex;
}

.card {
	border-width: 2px !important;
}

.col-4, .col-6 {
	display: flex;
	justify-content: center;
}

#page-footer p {
	color: #eee;
	font-size: 0.9em;
}

#page-footer svg {
	width: 25px;
}

#page-footer a {
	text-decoration: none;
}

#contact {
	margin: 30px 0;
}

#copy {
	margin: 10px;
}

@media (max-width: 767.98px) { 
	#carousel-prev, #carousel-next {
		display: none;
	}

	.row {
		flex-direction: column;
		justify-content: center;
	}

	.col-4, .col-6 {
		display: flex;
		max-width: 100% !important;
	}
}
