@import './variables';

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

.navbar {
	z-index: 1000;
	a {
		color: $color-2;
	}

	a:hover {
		color: $color-1;
	}
}

#hero-background {
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../src/plants-hero.jpg");
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50vw;
	overflow: hidden;
	filter: brightness(50%);
}

#presentation-content {
	width: 100%;
	height: 50vw;
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#presentation-title {
	vertical-align: middle;
	z-index: 1000;
	position: relative;
	text-align: center;
	
	#title {
		color: $color-1;
	}
	
	#subtitle {
		color: $color-2;
	}
}

#back-to-top {
	display: none;
	cursor: pointer;
	color: black;
	text-decoration: none;
	background-color: #474125;
	width: 60px;
	height: 60px;
	padding: 0;
	position: fixed;
	bottom: 3vh;
	right: 3vw;
	z-index: 1000;
}

.navbar-brand img {
	width: 30px;
	height: 30px;
}

img {
	width: 100%;
}

main {
	margin-top: 50vw;
}

#carousel-slider{
	margin: 0;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.carousel-item {
	filter: brightness(75%);
}

.carousel-item img {
	height: 50vw;
}

#carousel-prev, #carousel-next {
	position: unset;
	width: 60px;
	height: 60px;
	background-color: black;
	border-radius: 50%;
	margin: 0;
}

#plants {
	margin-top: 100px;
	margin-bottom: 100px;
}

.card {
	border-width: 2px !important;
}

.col-4, .col-6 {
	display: flex;
	justify-content: center;
}

#page-footer{
	background-color: #222;

	ul {
		padding-left: 0;
	}

	li {
		color: #eee;
		display: flex;
	}

	h5 {
		color: white;
	}

	p {
	color: #eee;
	font-size: 0.9em;
	}

	svg {
		width: 25px;
	}

	a {
		text-decoration: none;
	}
}

#contact {
	margin: 30px 0;
}

#copy {
	margin: 10px;
}

@media (max-width: 767.98px) { 
	#carousel-prev, #carousel-next {
		display: none;
	}

	.row {
		flex-direction: column;
		justify-content: center;
	}

	.col-4, .col-6 {
		display: flex;
		max-width: 100% !important;
	}
}